.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
}
.sidemenu{
  width:240px;
  border: 1px solid white;
  background-color: #202123;
}
.chatbox{
  flex: 1;
  /* width: 100%; */
  background-color: #343541;
  position: relative;
}
.side-menu-button{
  padding: 12px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  transition: ease 0.25s all;
}
.side-menu-button:hover{
  background-color: rgb(75, 70, 70);
}
.side-menu-button span{
  /* font-size: auto; */
  padding-left: 6px;
  padding-right: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chat-input-holder{
padding: 24px;
position: absolute;
bottom: 0;
left: 0;right: 0;
}
.chat-input-textarea{
  background-color: #40414f;
  width: 100%;
  padding: 12px;
  border-radius: 5px; 
  color :rgb(218, 208, 208);
  font-size: 1.25em;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.chat-log{
  /* padding: 24px; */
  text-align: left;
  /* display: flex; */
}
.chat-message.chatgpt{
background-color:#444654;
}
.chat-message-center{
  max-width: 6400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
padding-left: 40px;
padding-right: 40px;

}
.avatar.chatgpt{
background-color:#10a37f;
border-radius: 50%;
width: 40px;
height: 40px;
}
.avatar{
background-color:white;
/* background-image: url(); */
border-radius: 50%;
width: 40px;
height: 40px;
}
.message{
  padding-left: 40px;
  padding-right: 40px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


